{% extends 'base.html' %}
{% block title %}
{{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <h3 class="display-4 fst-italic">Интернет-магазин Шитье и Стиль</h3>
        <p>Добро пожаловать в "Шитье и Стиль" – вашу виртуальную стильную столицу! Мы приглашаем вас на
            захватывающее
            путешествие по миру моды, где каждый образ – это искусство, а каждая деталь имеет значение.</p>
        <p>Наши коллекции представляют лучшие тренды и вечные классические стили, чтобы подчеркнуть вашу
            уникальность и
            выразить вашу индивидуальность. Мы гордимся тем, что предоставляем вам бесконечные варианты для создания
            идеального образа в любое время, в любом месте.</p>
        <p>Мы тщательно отбираем каждую модель, уделяя внимание качеству, стилю и комфорту, чтобы вы могли
            чувствовать
            себя уверенно и удобно. Ваше удовлетворение нашей главная цель. Присоединяйтесь к нам и давайте вместе
            вдохновлять мир моды. Добро пожаловать в "Шитье и Стиль" – место, где мода становится искусством, и
            каждый
            клиент - звезда своей собственной показательной программы.</p>
    </div>
</div>
{% endblock %}